{% extends 'base.html' %}

{% block content %}
    <h1 class="center-align">Our Story</h1>
    <div class="row">
        <div class="col s12">
            <div class="card-panel yellow lighten-2">
            <span class="black-text"><h4 class="left-align">Mission Statement: </h4>
            <h5>Support Small Dog Walking Businesses By Providing Necessary Tools to Streamline Processes and Improve Customer Relationship Management.</h5>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <span class="card-title black-text"><h4>Team</h4></span>
            <div class="card small">
              <div class="card-content black-text">
                <h5>3 Dog Loving Software Engineers Passionate about Helping Small Dog Walking Businesses.</h5>
              </div>
            </div>
        </div>
        <div class="col s4">
            <span class="card-title black-text"><h4>History</h4></span>
            <div class="card small">
              <div class="card-content black-text">
                <h5>2 weeks strong, wagtracker was started by "Team F".</h5>
              </div>
            </div>
        </div>
        <div class="col s4">
            <span class="card-title black-text"><h4>Industry</h4></span>
            <div class="card small">
              <div class="card-content black-text">
                <h5>wagtracker is a CRM for dog walking businesses, an industry that has a market size of $1bn.</h5>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="https://images.unsplash.com/photo-1583511666372-62fc211f8377?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80">
              </div>
              <div class="card-content">
                <p>Photo By Karsten Winegeart</p>
              </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="https://images.unsplash.com/photo-1629907730422-3303af15a34b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80">
              </div>
              <div class="card-content">
                <p>Photo By Karsten Winegeart</p>
              </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="https://images.unsplash.com/photo-1583511655802-41f2ccc2cc8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80">
              </div>
              <div class="card-content">
                <p>Photo By Karsten Winegeart</p>
              </div>
            </div>
        </div>
      </div>

{% endblock %}