{% extends 'base.html' %}

{% block content %}
<!-- <h1>Home Placeholder</h1>
<a href="dogs/create/">Create</a> -->
    <div class="row">
        <div class="col s12 valign center"><h3>Welcome Back 'add walker name here' </h3></div>
    </div>
 
    <div class="row">
        <div class="col s12">
            <div class="card-panel grey darken-4">
            <span class="white-text center-align"><h5>'add #' of Dogs Love Walking with You</h5>
            </span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey darken-4">
                <span class="white-text center-align"><h5>You Made 'add #' Meaningful Interactions with Your Dogs</h5>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey darken-4">
                <span class="white-text center-align"><h5>There are 'add #' Grateful Dog Parents</h5>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey darken-4">
                <span class="white-text center-align"><h5>'add random name', 'add random name' and 'add random name' love spending time with you</h5>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel yellow lighten-2">
                <span class="black-text"><h6>"Raise your paw. Who's up for an adventure?"</h6>
                </span>
            </div>
        </div>
    </div>
{% endblock %}