{% extends 'base.html' %}

{% block content %}
<!-- <h1>Home Placeholder</h1>
<a href="dogs/create/">Create</a> -->
    <div class="row">
        <div class="col s12 valign center"><h3>Welcome Back! </h3></div>
    </div>
 
    <div class="row">
        <div class="col s12">
            <div class="card-panel grey darken-4">
            <span class="white-text center-align"><h5>{{count}} Dogs Love Walking with You & Their Parents Are Very Grateful</h5>
            </span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey darken-4">
                <span class="white-text center-align"><h5>You Made {{activity}} Meaningful Interactions with Your Dogs</h5>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey darken-4">
                <span class="white-text center-align"><h5>{{random.name}} Loves Spending Time With You</h5>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel yellow lighten-2">
                <span class="black-text"><h6>"Raise your paw. Who's up for an adventure?"</h6>
                </span>
            </div>
        </div>
    </div>
{% endblock %}
