{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s3">
        <div class="card left">
            <div class="card-content white-text grey darken-4">
                
                <h1 class="center-align">{{dog.name}}</h1>


                <div class="center-align">
                    {% for dogphoto in dog.dogphoto_set.all %}
                    <img class="profile-img" src="{{dogphoto.url}}" alt="{{dog.name}}'s photo">
                    {% empty %}
                    <div>This dog currently has no pictures</div>
                    <form action="{% url 'add_dog_photo' dog.id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="file" name="photo_file" />
                        <br/>
                        <input class="btn black" type="submit" value="Upload Dog Photo">
                    </form>
                    {% endfor %}
                </div>
                <div class="center-align">
                    <p class="center-align">Breed: {{dog.breed}}</p>
                    <p class="center-align">Coat Color: {{dog.coatcolor}}</p>
                </div>
                
                <div>
                    <h3>Owner Contact</h3>
                    <div>
                        <p>Name: {{dog.ownername}}</p>
                        <p>Phone: {{dog.ownerphone}}</p>
                        <p>Address: {{dog.owneraddress}}</p>
                        <div class="card">
                            <div class="card-content yellow lighten-2">
                                {{minimap.m|safe}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content see-more">
                        <button class="activator btn black button-yellow">See More</button>
                    </div>
                    <div class="card-reveal see-more-content yellow lighten-2 black-text">
                        <span class="card-title">Notes<i class="material-icons right">close</i></span>
                        <a href="{% url 'map' dog.id %}">To Map</a>
                        <p>{{dog.notes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s9">
        <div class="card">
            <div class="card-content">

                <h1>Activities</h1>
                <form action="{% url 'add_activity' dog.id %}" method="POST">
                    {% csrf_token %}
                    {{ activity_form.as_p }}
                    <input class="btn black button-yellow" type="submit" value="Add Activity">
                </form>
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Activity
                            </th>
                            <th>
                                Photo
                            </th>
                            <th>
                                Modify Data
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in dog.activity_set.all %}
                        <tr>
                            <td>{{ activity.date }}</td>
                            <td>{{ activity.activity}}</td>
                            <td>
                                <div>
                                    {% for photo in activity.activityphoto_set.all %}
                                    <a href="{% url 'view_photo_activity' photo.id %}" target="_blank">
                                    <img class="activity-img" src="{{photo.url}}" alt="{{dog.name}}'s Picture">
                                    </a>
                                    {% empty %}
                                    <div>This activity has no pictures...</div>
                                    <form action="{% url 'add_activity_photo' activity.id dog.id%}" enctype="multipart/form-data" method="post">
                                        {% csrf_token %}
                                        <input type="file" name="activity-photo" />
                                        <input class="btn black button-yellow" type="submit" value="Add Photo">
                                    </form>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <a class="btn black button-red" href="{% url 'activity_delete' activity.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <button class="modal-trigger btn black  button-yellow" data-target="modal1">Gallery</button>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            {% for dogphoto in dog.dogphoto_set.all %}
                            <a href="{% url 'view_photo_profile' dogphoto.id %}" target="_blank">
                                <img src="{{dogphoto.url}}" alt="{{dog.name}}'s Photo">
                            </a>
                            {% endfor %}
                            {% for activity in dog.activity_set.all %}
                            {% for photo in activity.activityphoto_set.all %}
                            <a href="{% url 'view_photo_activity' photo.id %}" target="_blank">
                                <img src="{{photo.url}}" alt="{{dog.name}}'s Photo">
                            </a>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button class="modal-close btn black">
                                    CLOSE
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Initialization -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, {});
    });
    const dateEl = document.getElementById('id_date');

    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
  </script>
{% endblock %}
