{% extends 'base.html' %}

{% block content %}
<h3 class="black-text center-align">My Dogs</h3>
<table class="striped centered black-text">
    <thead>
      <tr>
          <th><h6>Dog Name</h6></th>
          <th><h6>Breed</h6></th>
          <th><h6>Coat Color</h6></th>
          <th><h6>Parent</h6></th>
          <th><h6>Contact Number</h6></th>
          <th><h6>Modify</h6></th>
      </tr>
    </thead>
    <tbody>
    {% for dog in dogs %}
      <tr>
        <td><h6 class="text-bold"><a href="/dogs/{{dog.id}}">{{dog.name}}</a></h6></td>
        <td><h6>{{dog.breed}}</h6></td>
        <td><h6>{{dog.coatcolor}}</h6></td>
        <td><h6>{{dog.ownername}}</h6></td>
        <td><h6>{{dog.ownerphone}}</h6></td>
        <td><h6 class="modify"><a href="{% url 'dog_update' dog.id%}"><button class='btn-small light-blue darken-2'><i class="material-icons left">edit</i>Edit</button></a></h6></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}